﻿@model WebApplication1.ViewModels.PostCreateViewModel

@{
	ViewData["Title"] = "Create";
}

<h2>Create a new post!</h2>

<div class="row">
	<div>
		<form asp-action="Create" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group col-md-4 clear-both">
				<label asp-for="PostTitle" class="control-label"></label>
				<input asp-for="PostTitle" class="form-control" />
				<span asp-validation-for="PostTitle" class="text-danger"></span>
			</div>
			<div class="form-group col-md-8 clear-both">
				<label asp-for="PostContent" class="control-label"></label>
				<textarea asp-for="PostContent" class="form-control col-md-8" rows="3"></textarea>
				<span asp-validation-for="PostContent" class="text-danger"></span>
			</div>

			<div class="form-group col-md-4 clear-both">
				<label asp-for="PostImage" class="control-label clear-both"></label>
				<input type="file" accept="image/*" onchange="uploadCheck()" asp-for="PostImage" name="file" />
				<span asp-validation-for="PostImage" class="text-danger"></span>
			</div>
			<div class="form-group clear-both col-md-2">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>
<script type="text/javascript">
	//This checks if the file selected by the user is acceptable based on it's file extension
	function uploadCheck() {
		var image = document.getElementById("PostImage").value;
		var ext = getExtension(image);

		var extensionLists = ['jpg', 'jpeg', 'svg', 'gif', 'bmp', 'png', 'JPG', 'JPEG', 'SVG', 'GIF', 'BMP', 'PNG'];

		var contains = (extensionLists.indexOf(ext) > -1);

		if (!contains) {
			alert("Sorry, only images of types: " + extensionLists.toString() + " are allowed");
			document.getElementById("PostImage").value = "";
		}
	}

	//This gets the extension from a file name
	function getExtension(filename) {
		var parts = filename.split('.');
		return parts[parts.length - 1];
	}
</script>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
