﻿@model WebApplication1.Models.Post

@{
	ViewData["Title"] = "Delete";
}

<div>
	<h3 class="delete-h3">Are you sure you want to delete this post?</h3>

	<div class="delete-box">
		<table>
			<tbody>
				<tr>
					<td>
						@if (Model.ImageString != null)
						{
							string location = "~/images/posts/" + Model.ImageString;
							<img src="@Url.Content(location)" class="delete-img img-responsive center-block" alt="@Model.Title" />
						}

					</td>
					<td>
						<div>
							<h4>@Model.Title</h4>
						</div>
						<div>
							<h5>@Model.Content</h5>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<form asp-action="Delete">
		<div class="center-box"> 
			<input type="hidden" asp-for="PostId" />
			<input type="submit" value="Delete" class="btn btn-danger" />
			<a asp-action="Index" class="btn btn-default">Back to List</a>
		</div>
	</form>
</div>
