﻿@model WebApplication1.ViewModels.PostDetailViewModel;

@{
	ViewData["Title"] = Model.Post.Title;
}

<div class="empty-table">

	<div class="gap"></div>
	<div class="details-bar">
		<a asp-action="Index" class="back-link">
			<svg class="back-icon" viewBox="0 0 512 512">
				<path d="M480 224H128L294.06 57.94a33.94 33.94 0 0 0-48-48L0 256l48 48 198.06 198.06a33.94 33.94 0 0 0 48-48L128 288h352a32 32 0 0 0 32-32 32 32 0 0 0-32-32z" />
			</svg>
		</a>
		<h4 class="post-text">
			Post
		</h4>
	</div>

</div>

<table class="table">
	<tbody>
		<tr class="whole-post">
			<td class="post-avatar">
				<div class="stream_top">
					<div class="stream_avatar">
						@{
							string profilePictureLocation = "";
							if (Model.Post.User.AvatarString == null)
							{
								profilePictureLocation = "~/images/user.png";
							}
							else
							{
								profilePictureLocation = "~/images/avatars/" + Model.Post.User.AvatarString;
							}
						}
						<div style='background:url(@Url.Content(profilePictureLocation))'></div>
					</div>
				</div>
			</td>
			<td>
				<div>
					<div>

						<h4>@Model.Post.User.Name</h4>

						<h6>@Model.GetTimeSpan(Model.Post.Time)</h6>

						@{
							bool b = false;
							if (Model.UserClaim == ("admin"))
							{
								b = true;
							}
							if (Model.User.Id == Model.Post.UserId)
							{
								if ((Model.UserClaim == "poster") || (Model.UserClaim == "user"))
								{
									b = true;
								}
							}
						}

						@if (b)
						{
							<div class="float-right">
								<table>
									<tr>
										<td>
											<a asp-action="Edit" class="dont-wrap" asp-route-id="@Model.Post.PostId">Edit post</a>
										</td>
									</tr>
									<tr>
										<td>
											<a asp-action="Delete" class="dont-wrap" asp-route-id="@Model.Post.PostId"> Delete post </a>
										</td>
									</tr>
								</table>
							</div>
						}
						<h2>@Model.Post.Title</h2>
						<p>@Model.Post.Content</p>
						@if (Model.Post.ImageString != null)
						{
							string location = "~/images/posts/" + Model.Post.ImageString;
							<img src="@Url.Content(location)" class="img-responsive center-block" alt="@Model.Post.Title" />
						}
					</div>
					<div id="comments" class="comments">
						@if (Model.Comments != null && Model.Comments.Count >= 1)
						{
							<h5>Most recent comment</h5>
							foreach (Comment c in Model.Comments)
							{
								<table class="others_comments">
									<tr>
										<td class="comment_avatar">
											@{
												string commentProfileLocation = "";

												if (c.User.AvatarString == null)
												{
													commentProfileLocation = "~/images/user.png";
												}
												else
												{
													commentProfileLocation = "~/images/avatars/" + c.User.AvatarString;
												}
											}
											<div style='background:url(@Url.Content(commentProfileLocation))'></div>
										</td>
										<td class="comment-content">
											<div class="full-width">
												<h4 class="float-left">@c.User.Name</h4>
												<h6 class="float-left comment-time">@Model.GetTimeSpan(c.Time)</h6>
											</div>
											@{string id1 = c.CommentId + "string"; }
											@{string id2 = c.CommentId + "input"; }


											<div class="comment-text" id="@id1">
												<p>@c.Text</p>
											</div>

											<form asp-action="EditComment" id="@id2" class="gone">
												<div class="add-comment">
													<div class="col-md-4">
														<input type="hidden" asp-for="CommentPostId" value="@c.PostId" />
														<input type="hidden" asp-for="EditCommentId" value="@c.CommentId" />
														<input asp-for="CommentText" value="@c.Text" class="form-control" />
														<span asp-validation-for="CommentText" class="text-danger"></span>
													</div>
													<input type="submit" value="Edit Comment" class="btn btn-default" />
												</div>
											</form>
										</td>



										@{
											bool canEdit = false;
											if (Model.UserClaim == ("admin"))
											{
												canEdit = true;
											}
											if (c.UserId == Model.User.Id)
											{
												if ((Model.UserClaim == "poster") || (Model.UserClaim == "user"))
												{
													canEdit = true;
												}
											}
										}

										@if (canEdit)
										{
											<td class="float-right dont-wrap">
												<div onclick="editComment(@c.CommentId)" class="clickable clear-both">Edit Comment</div>
												<div onclick="deleteConfirm(@c.CommentId)" class="clickable clear-both">Delete Comment</div>

											</td>
										}
									</tr>
								</table>
							}
						}
						else
						{
							<h5>No Comments...yet.</h5>
						}

						@if (Model.UserClaim != "restricted")
						{
							<h5>Add Comment</h5>

							<table class="others_comments">
								<tr>
									<td class="comment_avatar">
										@{
											string userProfileLocation = "";
											if (Model.User.AvatarString == null)
											{
												userProfileLocation = "~/images/user.png";
											}
											else
											{
												userProfileLocation = "~/images/avatars/" + Model.User.AvatarString;
											}
										}
										<div style='background:url(@Url.Content(userProfileLocation))'></div>
									</td>
									<td class="comment-content">
										<div class="full-width">
												<h4 class="float-left">@Model.User.Name</h4>
										</div>
										<form class="comment-text col-lg-10" asp-action="Details">
											<div asp-validation-summary="ModelOnly" class="text-danger"></div>
											<input type="hidden" asp-for="CommentUserName" value="@Model.User.UserName" />
											<input type="hidden" asp-for="CommentUserId" value="@Model.User.Id" />
											<input type="hidden" asp-for="CommentPostId" value="@Model.Post.PostId" />
											<div class="add-comment">
												<div class="col-md-4">
													<input asp-for="CommentText" value="" class="form-control" />
													<span asp-validation-for="CommentText" class="text-danger"></span>
												</div>
												<input type="submit" value="Add Comment" class="btn btn-default" />
											</div>
										</form>
									</td>
								</tr>
							</table>
						}
					</div>
				</div>
			</td>
		</tr>
		<tr class="gap"></tr>
	</tbody>
</table>

<script type="text/javascript">
	function deleteConfirm(Id) {
		var r = confirm("Are you sure you want to delete this comment?");
		if (r == true) {
			var url = '@Url.Action("DeleteComment", "Posts")'+"/"+Id;
			window.location.href = url;
		}
	}

	function editComment(id) {
		var element = document.getElementById(id+"string");
		element.parentNode.removeChild(element);
		var element2 = document.getElementById(id + "input");
		element2.style.display = "block";
	}
</script>