﻿@model WebApplication1.ViewModels.PostEditViewModel;

@{
	ViewData["Title"] = "Edit";
}

@try
{
	<h2>Edit @Model.PostTitle</h2>

}
catch (NullReferenceException e) { }



<hr />
<div class="row col-md-8">
	<form id="Edit" asp-action="Edit" enctype="multipart/form-data">
		<div asp-validation-summary="ModelOnly" class="text-danger col-md-4 clear-both"></div>
		<input value="@Model.PostId" type="hidden" asp-for="PostId" class="form-control" />
		<input value="@Model.ImageString" type="hidden" asp-for="ImageString" class="form-control" />

		<div class="form-group col-md-4 clear-both">
			<label asp-for="PostTitle" class="control-label"></label>
			<input value="@Model.PostTitle" onchange="titleCheck()" asp-for="PostTitle" class="form-control col-md-4 clear-both" />
			<span asp-validation-for="PostTitle" class="text-danger"></span>
		</div>
		<label asp-for="PostContent" class="control-label col-md-8 clear-both"></label>
		<div class="form-group col-md-8 clear-both">

			<textarea asp-for="PostContent" class="form-control col-md-8" rows="3"></textarea>
			<span asp-validation-for="PostContent" class="text-danger"></span>
		</div>
		<div class="form-group col-md-8 clear-both">
			@{
				string label;
				if (Model.ImageString != null)
				{
					label = "Current post image";
				}
				else
				{
					label = "No current image";
				}
			}


			<label class="control-label">@label</label>
			@{
				if (Model.ImageString != null)
				{
					string location = "~/images/posts/" + Model.ImageString;

					<img src="@Url.Content(location)" class="img-thumbnail center-block clear-both" alt="@Model.PostTitle" />
					<div class="clickable" onclick="deletePostPicture()">Delete image</div>

				}
			}

		</div>
		<div class="form-group col-md-8 clear-both">
			<label asp-for="PostImage" class="control-label"></label>
			<input type="file" accept="image/*" onchange="uploadCheck()" asp-for="PostImage" name="file" />
			<span asp-validation-for="PostImage" class="text-danger"></span>
		</div>

		<div class="form-group col-md-8 clear-both">
			<input type="submit" id="save-button" value="Save" class="btn btn-default" />
		</div>
	</form>
</div>

<div class="clear-both">
	<a asp-action="Index">Back to List</a>
</div>
<script type="text/javascript">
	//This makes sure the uploaded file has an appropriate extension
	function uploadCheck() {
		var image = document.getElementById("PostImage").value;
		var ext = getExtension(image);

		var extensionLists = ['jpg', 'jpeg', 'svg', 'gif', 'bmp', 'png', 'JPG', 'JPEG', 'SVG', 'GIF', 'BMP', 'PNG'];

		var contains = (extensionLists.indexOf(ext) > -1);

		if (!contains) {
			alert("Sorry, only images of types: " + extensionLists.toString() + " are allowed");
			document.getElementById("PostImage").value = "";
		}
		document.getElementById("Edit").submit();
	}

	//This gets the extension from a file name
	function getExtension(filename) {
		var parts = filename.split('.');
		return parts[parts.length - 1];
	}

	//Confirms if the user wants to remove the image from the post
	function deletePostPicture() {
		var r = confirm("Are you sure you want to delete the post image? \n This can't be undone.");
		if (r == true) {

			document.getElementById("ImageString").value = null;
			document.getElementById("Edit").submit();
		}
	}

</script>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
