﻿@model WebApplication1.ViewModels.PostIndexViewModel;
@{
	ViewData["Title"] = "FruitStream";
}
<div>
	<h1>FruitStream</h1>
	@if ((Model.UserClaim == "admin") || (Model.UserClaim == "poster"))
	{
		<a class="btn btn-default float-right create-button" asp-action="Create">
			<svg viewBox="0 0 512 512" class="plus">
				<path d="M464 304H304v160a48 48 0 0 1-48 48 48 48 0 0 1-48-48V304H48a48 48 0 0 1-48-48 48 48 0 0 1 48-48h160V48a48 48 0 0 1 48-48 48 48 0 0 1 48 48v160h160a48 48 0 0 1 48 48 48 48 0 0 1-48 48z" />
			</svg>
			Create some of that delicious content
		</a>
	}
</div>
<table class="table table-responsive">
	<tbody>
		@foreach (var item in Model.Posts)
		{
			<tr class="whole-post">
				<td class="post-avatar" onclick="loadPost(@item.PostId)">
					<div class="stream_top">
						<a asp-action="Details" asp-route-id="@item.PostId" class="post">
							<div class="stream_avatar">
								@{
									string profilePictureLocation = "";
									if (item.User.AvatarString == null)
									{
										profilePictureLocation = "~/images/user.png";
									}
									else
									{
										profilePictureLocation = "~/images/avatars/" + item.User.AvatarString;
									}
								}
								<div style='background:url(@Url.Content(profilePictureLocation))'></div>
							</div>
						</a>
					</div>
				</td>
				<td>
					<div>
						<a asp-action="Details" asp-route-id="@item.PostId" class="post">
							<h4>@item.User.Name</h4>

							<h6>@Model.GetTimeSpan(item.Time)</h6>

							@{
								//This determines if the user can access the edit and delete functionality
								bool b = false;
								if (Model.UserClaim == ("admin"))
								{
									b = true;
								}
								if (Model.User.Id == item.UserId)
								{
									if ((Model.UserClaim == "poster") || (Model.UserClaim == "user"))
									{
										b = true;
									}
								}
							}
							@if (b)
							{
								<div class="float-right">
									<table>
										<tr>
											<td>
												<a asp-action="Edit" class="dont-wrap" asp-route-id="@item.PostId">Edit post</a>
											</td>
										</tr>
										<tr>
											<td>
												<a asp-action="Delete" class="dont-wrap" asp-route-id="@item.PostId"> Delete post </a>
											</td>
										</tr>
									</table>
								</div>
							}
							<h2>@item.Title</h2>
							<p>@item.Content</p>
							@if (item.ImageString != null)
							{
								//This shows the image for the post, if one exists.
								string location = "~/images/posts/" + item.ImageString;
								<img src="@Url.Content(location)" class="img-responsive center-block" alt="@item.Title" />
							}
						</a>

						<div class="comments">
							<h4>Most recent comment</h4>

							@if (item.Comments != null && item.Comments.Count >= 1)
							{
								//This gets and shows the most recent comment only
								Comment c;
								if (item.Comments.Count == 1)
								{
									c = item.Comments[0];
								}
								else
								{
									c = item.Comments[item.Comments.Count - 1];
								}
								<table class="others_comments">
									<tr>
										<td class="comment_avatar">
											@{
												//Finds the avatar of the comment poster and displays it, if it exists
												string commentProfileLocation = "";

												if (c.User.AvatarString == null)
												{
													commentProfileLocation = "~/images/user.png";
												}
												else
												{
													commentProfileLocation = "~/images/avatars/" + c.User.AvatarString;
												}
											}
											@*
												For profile images, I have used a div with the image as the background.
												This gives more flexibilty for profile iamges of strange sizes and
												keeeping them consistently the same size. However, it also means I can't
												use the alt tag for accessibility.
											*@
											<div style='background:url(@Url.Content(commentProfileLocation))'></div>
										</td>
										<td class="comment-content">
											<div class="full-width">
												<h4 class="float-left">@c.User.Name</h4>
												<h6 class="float-left comment-time">@Model.GetTimeSpan(c.Time)</h6>
											</div>
											@{string id1 = c.CommentId + "string"; }
											@{string id2 = c.CommentId + "input"; }


											<div class="comment-text" id="@id1">
												<p>@c.Text</p>
											</div>

											<form asp-action="EditComment" id="@id2" class="gone">
												<div class="add-comment">
													<div class="col-md-4">
														<input type="hidden" asp-for="CommentPostId" value="@c.PostId" />
														<input type="hidden" asp-for="EditCommentId" value="@c.CommentId" />
														<input asp-for="CommentText" value="" class="form-control" />
														<span asp-validation-for="CommentText" class="text-danger"></span>
													</div>
													<input type="submit" value="Edit Comment" class="btn btn-default" />
												</div>
											</form>
										</td>
										@if (c.UserId == Model.User.Id)
										{
											<td class="float-right dont-wrap">
												<div onclick="editComment(@c.CommentId)" class="clickable clear-both">Edit Comment</div>
												<div onclick="deleteConfirm(@c.CommentId)" class="clickable clear-both">Delete Comment</div>
											</td>
										}
									</tr>
									<tr>
										<td></td>
										<td>
											<h5 class="clear-both">
												<a asp-action="Details" asp-fragment="Comments" asp-route-id="@item.PostId">
													View all comments
												</a>
											</h5>
										</td>
									</tr>
								</table>

							}
							else
							{
								<h5 class="light-grey">
									No Comments...yet.
								</h5>
							}
							@if (Model.UserClaim != "restricted")
							{
								<h4>Add Comment</h4>

								<table class="others_comments">
									<tr>
										<td class="comment_avatar">
											@{
												string userProfileLocation = "";
												if (Model.User.AvatarString == null)
												{
													userProfileLocation = "~/images/user.png";
												}
												else
												{
													userProfileLocation = "~/images/avatars/" + Model.User.AvatarString;
												}
											}
											<div style='background:url(@Url.Content(userProfileLocation))'></div>
										</td>
										<td class="comment-content">
											<div class="full-width">
												<h4 class="float-left">@Model.User.Name</h4>
											</div>
											<form class="comment-text col-lg-10" asp-action="Details">
												<div asp-validation-summary="ModelOnly" class="text-danger"></div>
												<input type="hidden" asp-for="CommentUserName" value="@Model.User.UserName" />
												<input type="hidden" asp-for="CommentUserId" value="@Model.User.Id" />
												<input type="hidden" asp-for="CommentPostId" value="@item.PostId" />
												<div class="add-comment">
													<div class="col-md-4">
														<input asp-for="CommentText" class="form-control" />
														<span asp-validation-for="CommentText" class="text-danger"></span>
													</div>
													<input type="submit" value="Add Comment" id="@item.PostId" class="btn btn-default" />
												</div>
											</form>
										</td>
									</tr>
								</table>
							}
						</div>
					</div>
				</td>
			</tr>
			<tr class="gap"></tr>
		}

	</tbody>
</table>
<script type="text/javascript">
	function deleteConfirm(Id) {
		//This confirms if the user wants to delete a comment
		var r = confirm("Are you sure you want to delete this comment?");
		if (r == true) {
			var url = '@Url.Action("DeleteComment", "Posts")'+"/"+Id;
			window.location.href = url;
		}
	}

	//This shows the textbox to edit a comment
	function editComment(id) {
		var element = document.getElementById(id + "string");
		element.parentNode.removeChild(element);
		var element2 = document.getElementById(id + "input");
		element2.style.display = "block";
	}

</script>
