﻿@using Microsoft.AspNetCore.Http.Features

@{
	var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
	var showBanner = !consentFeature?.CanTrack ?? false;
	var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
	<nav id="cookieConsent" class="navbar navbar-default navbar-fixed-top" role="alert">
		<div class="container">
			<div class="navbar-header cookie-nav-bar" >
				<svg class="danger-icon">
					<path d="M0 0h24v24H0z" fill="none" />
					<path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
				</svg>
			</div>
			<div class="cookie collapse navbar-collapse">
			
					We use tasty cookies!
				
				<div class="navbar-right">
					<button type="button" class="btn btn-default navbar-btn" data-cookie-string="@cookieString">Accept</button>
				</div>
			</div>
		</div>
	</nav>
	<script>
		(function () {
			document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
				document.cookie = el.target.dataset.cookieString;
				document.querySelector("#cookieConsent").classList.add("hidden");
			}, false);
		})();
	</script>
}