﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - FruitBook</title>

	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
</head>
<body>
	<nav class="my-nav navbar navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="my-hamburger navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<svg class="hamburger-svg"  viewBox="0 0 512 512">
						<rect y="96" width="512" height="64" rx="32" ry="32" />
						<rect y="224" width="512" height="64" rx="32" ry="32" />
						<rect y="352" width="512" height="64" rx="32" ry="32" />
					</svg>
				</button>
				<a asp-area="" asp-controller="Home" asp-action="Index" id="logoHolder">
					<svg id="logo" viewBox="0 0 3052 500">
						<path class="st0" d="M270.6 463.1c-.6 0-1.1-.1-1.7-.2-40.3-8-80.6-30.4-113.3-63.1l-12.1-12.1a8.63 8.63 0 0 1 0-12.1c3.3-3.3 8.8-3.3 12.1 0l12.1 12.1C198 418 235 438.7 272.1 446c4.7.9 7.7 5.5 6.8 10.1-.7 4.2-4.3 7-8.3 7zM303.9 466.2c-4.7 0-8.5-3.7-8.6-8.4-.1-4.8 3.7-8.7 8.4-8.7 16.3-.3 31.7-3.4 45.5-9.5 4.4-1.9 9.4.1 11.4 4.5a8.7 8.7 0 0 1-4.5 11.4c-16 7-33.5 10.6-52.2 11 .1-.3 0-.3 0-.3zM284.9 439.2c-4.8 0-8.6-3.8-8.6-8.6V422c0-4.8 3.8-8.6 8.6-8.6s8.6 3.8 8.6 8.6v8.6c0 4.8-3.8 8.6-8.6 8.6zM259.1 413.5c-4.8 0-8.6-3.8-8.6-8.6v-8.6c0-4.8 3.8-8.6 8.6-8.6s8.6 3.8 8.6 8.6v8.6c.1 4.7-3.9 8.6-8.6 8.6zM310.7 413.5c-4.8 0-8.6-3.8-8.6-8.6v-8.6c0-4.8 3.8-8.6 8.6-8.6s8.6 3.8 8.6 8.6v8.6c0 4.7-3.8 8.6-8.6 8.6zM219.9 120.6c-50.6 0-101.2-17.9-139.8-53.8l-6.8-6.3 6.8-6.3c77-71.8 202.4-71.8 279.6 0l6.8 6.3-6.8 6.3c-38.6 35.9-89.2 53.8-139.8 53.8zM99 60.5c68.6 57.4 173.3 57.4 241.8 0C272.2 3.1 167.5 3.1 99 60.5zM75.6 129.4l-6.3-7.8C35.2 78.4 2.4 22.4 2 21.8c-2.3-4.1-1-9.4 3.1-11.7 4.1-2.4 9.4-1 11.7 3.1.3.5 30.6 52.3 63 94 1.2.4 2.3 1.1 3.1 2 3.2 3.2 3.3 8.3.4 11.7-.3.5-.7.9-1 1.3l-6.7 7.2z" />
						<path class="st0" d="M293.5 69.1H36.3c-4.8 0-8.6-3.8-8.6-8.6s3.8-8.6 8.6-8.6h257.2c4.8 0 8.6 3.8 8.6 8.6s-3.8 8.6-8.6 8.6zM444.1 423.4c-6.3-5.3-11.2-11.7-16-18.4-2.4 10-2.3 20.6.5 30.8 2.3 8.8-.1 18.2-6.6 24.7-5.9 5.9-14 8.5-22.2 7.1-13.9-2.3-26.4-1.2-37 3.4-66.8 29.1-154.9 5.3-219.3-59l-12.1-12.1c-64.4-64.3-88.1-152.4-59-219.3 4.7-10.7 5.9-23.1 3.5-37.1-1.3-8.2 1.3-16.3 7.1-22.2a25.6 25.6 0 0 1 18-7.4c2.3 0 4.5.3 6.5 1 12.4 3.3 25.2 2.9 36.9-1.3 3.2-1.1 6.6-2.2 10.1-3.1 34.8 11.4 72.1 13.3 108.3 5.9 33.4 11.8 65.4 32.4 92.6 59.6l12.1 12.1c7.9 7.9 15.2 16.1 21.8 24.6.4-1.2.7-2.4 1.2-3.5 1.2-2.8 2.6-5.6 3.8-8.4.5-1.2.8-2.6 1.4-3.8.3-.5.3-.9.4-1.1a3.87 3.87 0 0 1-.9-3.9c-4.8-5.6-9.9-11.1-15.2-16.4l-12.1-12.1c-29.7-29.7-64.8-52-101.5-64.5l-2.3-.8-2.3.5c-34.7 7.6-70.6 5.7-104-5.7l-2.4-.8-2.5.7c-4.9 1.3-9.6 2.7-14 4.3-8.4 3-17.6 3.3-26.6.9-14.7-4-30.5.2-41.3 11a42.38 42.38 0 0 0-11.9 37.2c1.8 10.7 1 19.9-2.3 27.4-32 73.2-6.8 169 62.6 238.3l12.1 12.1c49.2 49.3 112 76.3 170.4 76.3 23.7 0 46.7-4.5 68-13.8 7.5-3.2 16.7-4 27.4-2.3 13.6 2.3 27.5-2.3 37.2-11.9a42.6 42.6 0 0 0 11-41.3c-.7-2.6-1.1-5.2-1.4-7.7z" />
						<path class="st0" d="M95.6 155.3c-2.2 0-4.4-.9-6.1-2.5a8.63 8.63 0 0 1 0-12.1l8.6-8.6c3.3-3.3 8.8-3.3 12.1 0 3.3 3.3 3.3 8.8 0 12.1l-8.6 8.6a8.75 8.75 0 0 1-6 2.5zM250.5 86.3c-2.2 0-4.4-.9-6.1-2.5l-23.3-23.3 23.3-23.3c3.3-3.3 8.8-3.3 12.1 0 3.3 3.3 3.3 8.8 0 12.1l-11.2 11.2 11.2 11.2c3.3 3.3 3.3 8.8 0 12.1a8.16 8.16 0 0 1-6 2.5zM198.8 86.3c-2.3 0-4.4-.9-6.1-2.5l-23.3-23.3 23.3-23.3c3.3-3.3 8.8-3.3 12.1 0s3.3 8.8 0 12.1l-11.2 11.2 11.2 11.2c3.3 3.3 3.3 8.8 0 12.1a8 8 0 0 1-6 2.5z" />
						<g>
							<path class="st0" d="M889 305.2c-1.6 0-3.1-.2-4.7-.6-16.4-4.3-21.6-8.1-24-10.5a8.45 8.45 0 0 1 0-11.8c3.2-3.2 8.5-3.2 11.8 0 .1.1 2.8 2.6 16.5 6.2.2.1.7.2 1.2-.3s.4-1 .3-1.2c-3.6-13.7-6.2-16.4-6.3-16.5-3.1-3.1-8.6-3.1-11.8 0a8.45 8.45 0 0 1-11.8 0 8.45 8.45 0 0 1 0-11.8c9.8-9.8 25.6-9.8 35.4 0 2.4 2.4 6.2 7.6 10.5 24 1.7 6.2-.1 12.7-4.7 17.3-3.3 3.3-7.8 5.2-12.4 5.2zM1006.9 187.3c-1.6 0-3.1-.2-4.7-.6-16.4-4.3-21.6-8.1-24-10.5a8.45 8.45 0 0 1 0-11.8c3.2-3.2 8.5-3.2 11.8 0 .1.1 2.8 2.6 16.5 6.2.2.1.7.2 1.2-.3s.4-1 .3-1.2c-3.6-13.7-6.1-16.4-6.2-16.5-3.1-3.1-8.6-3.1-11.8 0a8.45 8.45 0 0 1-11.8 0 8.45 8.45 0 0 1 0-11.8c9.5-9.5 25.9-9.5 35.4 0 2.4 2.4 6.2 7.6 10.5 24 1.7 6.2-.1 12.7-4.7 17.3-3.3 3.3-7.8 5.2-12.5 5.2zM947.9 246.3c-1.6 0-3.1-.2-4.7-.6-16.4-4.4-21.6-8.1-24-10.5a8.45 8.45 0 0 1 0-11.8c3.2-3.2 8.5-3.2 11.8 0 .1.1 2.8 2.5 16.5 6.2.2.1.7.2 1.2-.3s.4-1 .3-1.2c-3.6-13.7-6.1-16.4-6.3-16.5a8.45 8.45 0 0 0-11.8 0 8.45 8.45 0 0 1-11.8 0 8.45 8.45 0 0 1 0-11.8c9.8-9.8 25.6-9.8 35.4 0 2.4 2.4 6.2 7.6 10.5 24 1.7 6.2-.1 12.7-4.7 17.3-3.2 3.3-7.7 5.2-12.4 5.2zM847.1 341.6c-4.4-16.4-8.1-21.6-10.5-24-5-5-11.5-7.4-18-7.3 0 2.6-1 5.2-1.8 7.7-1.2 3.7-2.3 7.4-3.4 11.2 3.3-2.9 8.4-2.8 11.5.3.2.1 2.6 2.8 6.3 16.5.1.2.2.7-.3 1.2s-1 .4-1.2.3c-13.7-3.6-16.4-6.1-16.5-6.2-.7-.7-1.6-1.3-2.5-1.7-1.4 5.6-3 11.1-6 16.1 3.4 2.2 9.4 4.9 20.7 7.9 1.6.4 3.1.6 4.7.6a17 17 0 0 0 12.4-5.3c4.5-4.6 6.3-11 4.6-17.3zM1030.4 269.8c-1.6 0-3.1-.2-4.7-.6-16.4-4.4-21.6-8.1-24-10.5a8.45 8.45 0 0 1 0-11.8c3.2-3.2 8.5-3.2 11.8 0 .1.1 2.8 2.6 16.5 6.2.2.1.7.2 1.2-.3s.4-1 .3-1.2c-3.6-13.7-6.1-16.4-6.3-16.5-3.1-3.1-8.6-3.1-11.8 0a8.45 8.45 0 0 1-11.8 0 8.45 8.45 0 0 1 0-11.8c9.8-9.8 25.6-9.8 35.4 0 2.4 2.4 6.2 7.6 10.5 24 1.7 6.2-.1 12.7-4.7 17.3-3.2 3.4-7.7 5.2-12.4 5.2zM971.5 328.8c-1.6 0-3.1-.2-4.7-.6-16.4-4.4-21.6-8.1-24-10.5a8.45 8.45 0 0 1 0-11.8c3.2-3.2 8.5-3.2 11.8 0 .1.1 2.8 2.5 16.5 6.3.2 0 .7.2 1.2-.3s.4-1 .3-1.2c-3.6-13.7-6.2-16.4-6.3-16.5-3.1-3.1-8.6-3.1-11.8 0a8.45 8.45 0 0 1-11.8 0 8.45 8.45 0 0 1 0-11.8c9.8-9.8 25.6-9.8 35.4 0 2.4 2.4 6.2 7.6 10.5 24 1.7 6.3-.1 12.7-4.7 17.3-3.3 3.3-7.8 5.1-12.4 5.1zM912.6 387.7c-1.6 0-3.1-.2-4.7-.6-16.4-4.4-21.6-8.1-24-10.5a8.45 8.45 0 0 1 0-11.8c3.2-3.2 8.5-3.2 11.8 0 .1.1 2.8 2.5 16.5 6.3.2.1.7.2 1.2-.3s.4-1 .3-1.2c-3.6-13.7-6.1-16.4-6.3-16.5a8.45 8.45 0 0 0-11.8 0 8.45 8.45 0 0 1-11.8 0 8.45 8.45 0 0 1 0-11.8c9.8-9.8 25.6-9.8 35.4 0 2.4 2.4 6.2 7.6 10.5 24 1.7 6.3-.1 12.7-4.7 17.3-3.3 3.2-7.7 5.1-12.4 5.1z" />
							<path class="st0" d="M1072.9 9.4c-2.1-2.1-4.3-4.1-6.4-6.2l-1.1-1c-3.3-3-8.4-3-11.6.2L818.3 237.8c.5 5 1.7 9.8 1.3 15-.2 2.7-.4 5.4-.7 8.1l241-241 1.2 1.2c105.6 105.6 105.6 277.4 0 383-87.6 87.6-220.9 102.5-324.1 44.6-.5.4-1.1.7-1.8.9-.4.2-.8.3-1.2.4-.2.1-.4.3-.6.4 0 0-.1 0-.1.1-.6.3-1.2.6-1.7.9-.3.8-.9 1.5-1.6 2-.5 1.3-1.5 2.3-2.9 2.7-.7 1.4-1.9 2.4-3.8 2.6-.2.3-.5.7-.8.9 45.1 26.9 96.1 40.3 147.1 40.3 73.6 0 147.3-28 203.4-84 112-112 112-294.4-.1-406.5z" />
							<path class="st0" d="M1029 50.2c-1.7-1.7-3.3-3.3-5.1-4.9l-.8-.8c-3.3-3-8.4-3-11.6.2L818.3 237.9c.5 5 1.6 9.8 1.3 14.9-.2 2.7-.4 5.4-.7 8.1l198.7-198.7c82.8 83.1 83.3 217.4 1.2 299.6-64.4 64.3-160.7 78-239.3 41.1a4.7 4.7 0 0 1-3.2 2.9c1.2-.4.5-.4-.1.8-.5.8-.8 1.7-1.2 2.5-.7 1.4-1.5 2.8-2.4 4.1-.7 1.2-1.6 2.4-2.5 3.5 31.6 15.2 65.9 22.9 100.1 22.9 58.3 0 116.3-22 160.4-66.1 88.6-88.6 87.9-233.8-1.6-323.3z" />
						</g>
						<g>
							<path class="st0" d="M709.2 101.7c-37 0-72.4-16-99.4-45.1-3-3.2-3-8.3 0-11.5 27.1-29 62.4-45 99.4-45s72.4 16 99.4 45c3 3.2 3 8.3 0 11.5-27.1 29-62.3 45.1-99.4 45.1zm-81.3-50.8c22.9 21.9 51.6 33.9 81.3 33.9s58.3-12 81.3-33.9C767.7 29 739 17 709.3 17c-29.8 0-58.4 11.9-81.4 33.9z" />
							<path class="st0" d="M734.7 59.3H586.8a8.5 8.5 0 1 1 0-17h147.9c4.7 0 8.5 3.8 8.5 8.5-.1 4.8-3.9 8.5-8.5 8.5z" />
							<path class="st0" d="M755.5 197.3c-36.4 0-69.9-12.9-94.6-36.6-25.9-24.8-40.2-59.5-40.4-97.7 0-3.3 1.9-6.3 4.9-7.7s6.5-1 9.1 1.2C660 78 691.6 87.8 723 83.8c2.5-.3 5.2.6 7 2.3 26.7 26.3 40.5 62.8 39.2 102.8-.2 4.5-3.7 8-8.2 8.2-1.9.1-3.8.2-5.5.2zM638.7 80.6c3.7 26.5 15.4 50.1 33.9 67.8 20.8 19.9 48.8 31.2 79.7 31.8-.7-30.7-11.7-58.4-31.3-79.2-28.9 2.7-57.4-4.4-82.3-20.4z" />
							<path class="st0" d="M712.7 149.2c-2.1 0-4.3-.9-6-2.4L643 83c-3.3-3.3-3.3-8.7 0-12s8.7-3.3 12 0l63.7 63.7c3.3 3.3 3.3 8.7 0 12a8.94 8.94 0 0 1-6 2.5zM595.3 93.3a8.5 8.5 0 0 1-8.5-8.5c0-37.4-30.4-67.8-67.8-67.8a8.5 8.5 0 1 1 0-17c46.8 0 84.8 38 84.8 84.8 0 4.7-3.8 8.5-8.5 8.5zM595.3 127.1c-18.7 0-33.9-15.2-33.9-33.9a8.5 8.5 0 1 1 17 0c0 9.4 7.6 17 17 17 4.7 0 8.5 3.8 8.5 8.5s-3.9 8.4-8.6 8.4z" />
							<path class="st0" d="M595.3 500c-126.2 0-228.8-102.6-228.8-228.8 0-133.6 115.1-241.1 251.5-227.7l3.1.3 2.1 2.2c3.3 3.5 6.9 6.8 11 10.4l3 2.5v3.9c.2 33.6 12.7 64 35.3 85.5 20.8 19.9 48.8 31.2 79.7 31.8-.8-31.7-12.6-60.4-33.7-81.5l10.9-12.9c59.3 43 94.6 112.3 94.6 185.4.1 126.3-102.5 228.9-228.7 228.9zm0-440.7c-116.8 0-211.8 95-211.8 211.8s95 211.8 211.8 211.8 211.8-95 211.8-211.8c0-47-15.8-92.2-43.8-128.8 4.3 14.6 6.3 30.4 5.7 46.6l-.3 7.9-7.9.3c-38.7 1.3-74.1-11.6-100.1-36.5-25-23.9-39.2-57.1-40.3-93.8-2.5-2.2-5-4.5-7.2-6.7-6-.5-12-.8-17.9-.8z" />
							<path class="st0" d="M462.8 161c-2.1 0-4-.7-5.7-2.1a8.52 8.52 0 0 1-.7-12c5.7-6.3 11.8-12.3 18.2-17.8 3.6-3 8.9-2.6 11.9 1s2.6 8.9-1 11.9c-5.9 5-11.4 10.4-16.6 16.1-1.5 2-3.8 2.9-6.1 2.9zM417.4 279.7a8.5 8.5 0 0 1-8.5-8.5c0-31 7.8-61.7 22.6-88.8 2.2-4.1 7.4-5.7 11.5-3.4 4.1 2.2 5.7 7.4 3.4 11.5a169.17 169.17 0 0 0-20.5 80.7c-.1 4.7-3.8 8.5-8.5 8.5zM493.6 415.2c-14.1 0-25.4-11.4-25.4-25.4a8.5 8.5 0 1 1 17 0c0 4.7 3.8 8.5 8.5 8.5s8.5 3.8 8.5 8.5-3.9 8.4-8.6 8.4zM578.3 406.7c-14.1 0-25.4-11.4-25.4-25.4a8.5 8.5 0 1 1 17 0c0 4.7 3.8 8.5 8.5 8.5s8.5 3.8 8.5 8.5c-.1 4.7-3.9 8.4-8.6 8.4zM544.4 449.1c-4.7 0-8.5-3.8-8.5-8.5s-3.8-8.5-8.5-8.5a8.5 8.5 0 1 1 0-17c14.1 0 25.4 11.4 25.4 25.4.1 4.8-3.7 8.6-8.4 8.6zM510.5 381.3a8.5 8.5 0 1 1 0-17c4.7 0 8.5-3.8 8.5-8.5a8.5 8.5 0 1 1 17 0c0 14.1-11.4 25.5-25.5 25.5z" />
						</g>
						<g>
							<path class="st0" d="M1378.9 102.1v45.6h-155.4v79h136.4v43h-136.4v133.9h-52.8V102.1h208.2zM1459.6 185.3v42.2h.8c1.4-5.9 4.1-11.7 8.2-17.3s9-10.8 14.8-15.4c5.8-4.6 12.1-8.3 19.2-11.2s14.3-4.2 21.5-4.2c5.6 0 9.5.1 11.6.4 2.1.3 4.3.5 6.5.8v46.5c-3.4-.5-6.9-1.1-10.3-1.5-3.5-.4-7-.6-10.3-.6-8.1 0-15.8 1.6-23 4.9s-13.4 8-18.8 14.4c-5.4 6.3-9.6 14.2-12.7 23.4-3.1 9.3-4.6 20-4.6 32.1v103.9h-48.2V185.3h45.3zM1707.6 403.6v-30.4h-.8c-5.9 11-14.7 19.7-26.4 26.4-11.7 6.7-23.5 9.9-35.7 9.9-28.7 0-49.5-7.1-62.3-21.3-12.8-14.3-19.2-35.7-19.2-64.4V185.3h48.2v133.9c0 19.1 3.7 32.6 11 40.6 7.3 7.9 17.6 11.8 30.8 11.8 10.1 0 18.6-1.6 25.3-4.6s12.2-7.3 16.5-12.5c4.2-5.2 7.3-11.5 9.1-18.8 1.8-7.3 2.7-15.2 2.7-23.7V185.3h48.2v218.4h-47.4v-.1zM1855 102.1v45.6h-48.2v-45.6h48.2zm0 83.2v218.4h-48.2V185.3h48.2zM1921.7 185.3v-65.5h48.2v65.5h43.5v35.9h-43.5v116.6c0 5.1.2 9.4.6 13.1s1.4 6.8 3 9.3 3.9 4.4 7 5.7c3.1 1.3 7.3 1.9 12.7 1.9 3.4 0 6.8-.1 10.1-.2 3.4-.1 6.8-.6 10.1-1.5v37.2c-5.4.5-10.6 1.2-15.6 1.7s-10.2.8-15.6.8c-12.7 0-22.9-1.2-30.6-3.6s-13.8-5.9-18.2-10.6c-4.3-4.6-7.3-10.5-8.9-17.5-1.6-7.1-2.4-15.1-2.7-24.1V221.2h-36.3v-35.9h36.2zM2201.4 102.1c27 0 48.7 6.2 65.1 18.6 16.4 12.4 24.5 31.2 24.5 56.2 0 15.2-3.7 28.2-11.2 39.1-7.5 10.9-18.1 19.2-31.9 25.1v.8c18.6 3.9 32.6 12.8 42.2 26.4 9.6 13.6 14.4 30.7 14.4 51.3 0 11.8-2.1 22.9-6.3 33.2-4.2 10.2-10.9 19.1-19.9 26.6s-20.6 13.4-34.6 17.7c-14 4.3-30.8 6.5-50.3 6.5h-138.6V102.1h146.6zm-7.6 126.2c12.7 0 23.2-3.6 31.7-10.8s12.7-17.5 12.7-31c0-15.2-3.8-25.9-11.4-32.1-7.6-6.2-18.6-9.3-32.9-9.3h-86.2v83.2h86.1zm7.2 132.3c16.1 0 28.5-4.1 37.4-12.5 8.9-8.3 13.3-20.1 13.3-35.3 0-14.9-4.4-26.4-13.3-34.4s-21.3-12-37.4-12h-93.4v94.2h93.4zM2398.9 400.9c-13.6-5.8-25.2-13.7-34.6-23.9-9.4-10.1-16.6-22.3-21.5-36.3-5-14-7.4-29.6-7.4-46.5 0-16.6 2.4-32 7.4-46s12.1-26.2 21.5-36.3 21-18.1 34.6-23.9c13.6-5.8 29.3-8.7 46.7-8.7s33.1 2.9 46.7 8.7 25.2 13.7 34.6 23.9c9.4 10.1 16.6 22.3 21.5 36.3 5 14 7.4 29.5 7.4 46 0 16.9-2.4 32.4-7.4 46.5-5 14-12.1 26.2-21.5 36.3-9.4 10.1-21 18.1-34.6 23.9s-29.3 8.7-46.7 8.7c-17.5 0-33.1-2.9-46.7-8.7zm74.5-36.1c7.9-4.5 14.4-10.5 19.4-17.7s8.8-15.5 11.2-24.7a110.48 110.48 0 0 0 0-56c-2.4-9.3-6.1-17.5-11.2-24.7-5.1-7.2-11.5-13-19.4-17.5s-17.2-6.8-27.9-6.8-20 2.2-27.9 6.8-14.4 10.3-19.4 17.5c-5.1 7.2-8.8 15.4-11.2 24.7s-3.6 18.6-3.6 27.9c0 9.6 1.2 18.9 3.6 28.1 2.4 9.2 6.1 17.4 11.2 24.7 5.1 7.3 11.5 13.2 19.4 17.7s17.2 6.8 27.9 6.8c10.7-.1 20-2.3 27.9-6.8zM2649.3 400.9c-13.6-5.8-25.2-13.7-34.6-23.9-9.4-10.1-16.6-22.3-21.5-36.3-5-14-7.4-29.6-7.4-46.5 0-16.6 2.4-32 7.4-46s12.1-26.2 21.5-36.3 21-18.1 34.6-23.9c13.6-5.8 29.3-8.7 46.7-8.7s33.1 2.9 46.7 8.7 25.2 13.7 34.6 23.9c9.4 10.1 16.6 22.3 21.5 36.3 5 14 7.4 29.5 7.4 46 0 16.9-2.4 32.4-7.4 46.5-5 14-12.1 26.2-21.5 36.3-9.4 10.1-21 18.1-34.6 23.9s-29.3 8.7-46.7 8.7-33-2.9-46.7-8.7zm74.6-36.1c7.9-4.5 14.4-10.5 19.4-17.7s8.8-15.5 11.2-24.7a110.48 110.48 0 0 0 0-56c-2.4-9.3-6.1-17.5-11.2-24.7-5.1-7.2-11.5-13-19.4-17.5s-17.2-6.8-27.9-6.8-20 2.2-27.9 6.8-14.4 10.3-19.4 17.5c-5.1 7.2-8.8 15.4-11.2 24.7s-3.6 18.6-3.6 27.9c0 9.6 1.2 18.9 3.6 28.1 2.4 9.2 6.1 17.4 11.2 24.7 5.1 7.3 11.5 13.2 19.4 17.7s17.2 6.8 27.9 6.8c10.7-.1 20-2.3 27.9-6.8zM2895.8 102.1v171.5l87-88.3h59.1l-83.6 80.3 91.7 138.1h-58.7l-66.7-106-28.7 27.9v78.1h-48.2V102.1h48.1z" />
						</g>
					</svg>
				</a>
			</div>
			<div class="navbar-collapse collapse">


				<partial name="_LoginPartial" />
			</div>
		</div>
	</nav>

	<partial name="_CookieConsentPartial" />

	<div class="container body-content">
		<div class="my-container">
			@RenderBody()
		</div>
		<hr />
		<footer>
			<div class="container">
				<div class=".col-xs-6">
					<div class="nav navbar-nav navbar-left">
						<p>Luke Walton, 2018</p>
					</div>
					<div class="pull-right .col-xs-6">
						<a asp-controller="Home" asp-action="About">About</a>
						<a asp-controller="Home" asp-action="Contact">Contact</a>
					</div>
				</div>
			</div>

		</footer>
	</div>

	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery"
				crossorigin="anonymous"
				integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
		</script>
		<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous"
				integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
		</script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	@RenderSection("Scripts", required: false)
</body>
</html>
