@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
		@{
			var userId = UserManager.GetUserId(User);
			ApplicationUser u = await UserManager.FindByIdAsync(userId);

			string userProfileLocation = "";
			if (u.AvatarString == null)
			{
				userProfileLocation = "~/images/user.png";
			}
			else
			{
				userProfileLocation = "~/images/avatars/" + u.AvatarString;
			}
		}
		<a asp-area="Identity" class="other-hover" asp-page="/Account/Manage/Index" title="Manage">
			<div style='background:url(@Url.Content(userProfileLocation))  no-repeat center;'></div>
			@u.Name
		</a>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<button type="submit" class="nav-button btn btn-link navbar-btn navbar-link ">
					Logout
				</button>
			</li>
		</ul>
	</form>
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li><a asp-area="Identity" class="nav-button" asp-page="/Account/Register">Register</a></li>
		<li><a asp-area="Identity" class="nav-button" asp-page="/Account/Login">Login</a></li>
	</ul>
}