﻿@inject UserManager<ApplicationUser> UserManager
<ul class="button-colours nav nav-pills nav-stacked">
	<li><a class=" btn my-button btn-primary" asp-page="./Index">Profile</a></li>
	<li><a class="btn my-button btn-primary" id="change-password" asp-page="./ChangePassword">Password</a></li>
	<li><a class=" btn my-button btn-primary" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
	<li><a class=" btn my-button btn-primary" asp-page="./PersonalData">Personal data</a></li>
	@{
		try
		{
			//This checks if the signed in user is an admin
			//If user is an admin, it shows the  button  that links to an admin page
			string claimvalue = ((System.Security.Claims.ClaimsIdentity)User.Identity)
				.FindFirst("IsAdmin").Value;

			if (claimvalue == "true")
			{
				<li><a class="btn my-button btn-primary" asp-action="ViewUsers">Admin controls</a></li>
			}
		}
		catch (NullReferenceException e) { }
	}
	<li><a class=" btn  my-danger btn-danger" asp-page="./DeletePersonalData">Delete account</a></li>

</ul>
