﻿@page
@model Disable2faModel
@{
	ViewData["Title"] = "Disable two-factor authentication (2FA)";
	ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
	<p>
		<svg class="danger-icon">
			<path d="M0 0h24v24H0z" fill="none" />
			<path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
		</svg>
		<strong>This action disables 2FA.</strong>
	</p>
	<p>
		Disabling 2FA does not change the keys used in authenticator apps. If you wish to change the key
		used in an authenticator app you should <a asp-page="./ResetAuthenticator">reset your authenticator keys.</a>
	</p>
</div>

<div>
	<form method="post" class="form-group">
		<button class="btn btn-danger" type="submit">Disable 2FA</button>
	</form>
</div>
