﻿@page
@model IndexModel
@{
	ViewData["Title"] = "Profile";
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
	<div>
		<form id="profile-form" method="post" enctype="multipart/form-data">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group col-md-6 clear-both">
				<label asp-for="Username"></label>
				<input asp-for="Username" class="form-control col-md-6" disabled />
			</div>
			<div class="form-group col-md-6 clear-both">
				<label asp-for="Input.Email"></label>
				<input asp-for="Input.Email" class="form-control" />
				<span asp-validation-for="Input.Email" class="text-danger col-md-6" aria-hidden="true" />
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<label asp-for="Input.FavouriteFruit" class="col-md-8 clear-both"></label>
			<div class="form-group col-md-6 clear-both">

				<select asp-for="Input.FavouriteFruit" class="clear-both" asp-items="Html.GetEnumSelectList<Fruit>()">
					<option selected="selected" value=""></option>
				</select>
				<span asp-validation-for="Input.FavouriteFruit" class="text-danger"></span>

			</div>
			@{
				//This shows the user's profile picture if they have one,
				//else, a standard picture is displayed

				string userProfileLocation = "";
				if (Model.Input.AvatarString == null)
				{
					userProfileLocation = "~/images/user.png";
				}
				else
				{
					userProfileLocation = "~/images/avatars/" + Model.Input.AvatarString;
				}
			}
			<label class="col-md-8 clear-both" asp-for="Input.AvatarImage"></label>

			<table class="table table-responsive col-md-8">
				<tbody>

					<tr class="small-tr">
						<td>
							<div class="identity-pic thumbnail img-responsive" style='background:url(@Url.Content(userProfileLocation)) no-repeat center;'></div>
						</td>
						<td>
							<div class="form-group float-left">
								<input asp-for="Input.AvatarImage" onchange="uploadCheck()" accept="image/*" />
								<span asp-validation-for="Input.AvatarImage" class="text-danger"></span>
							</div>
						</td>
						<td>
							@if (Model.Input.AvatarString != null)
							{
								<div class="float-right">
									<div onclick=" deleteProfilePicture()" class="float-right btn-link cursor-pointer">Delete profile image</div>
								</div>
							}
						</td>
					</tr>
				</tbody>
			</table>
			<div class=" col-md-8 clear-both full-width">
				<button type="submit" class="btn btn-default">Save</button>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">
	//This makes sure the uploaded file has an appropriate extension
	function uploadCheck() {
		var image = document.getElementById("Input_AvatarImage").value;
		var ext = getExtension(image);

		var extensionLists = ['jpg', 'jpeg', 'svg', 'gif', 'bmp', 'png', 'JPG', 'JPEG', 'SVG', 'GIF', 'BMP', 'PNG'];

		var contains = (extensionLists.indexOf(ext) > -1);

		if (!contains) {
			alert("Sorry, only images of types: " + extensionLists.toString() + " are allowed");
			document.getElementById("Input_AvatarImage").value = "";
		}
		document.getElementById("profile-form").submit();
	}

	//This gets the extension from a file name
	function getExtension(filename) {
		var parts = filename.split('.');
		return parts[parts.length - 1];
	}

	//This checks if the user wants to delete their profile picture
	function deleteProfilePicture() {
		var r = confirm("Are you sure you want to delete your profile image? \n This can't be undone.");
		if (r == true) {
			var url = '@Url.Action("DeleteProfilePicture")';
			window.location.href = url;
		}
	}
</script>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
