﻿@page
@model ResetAuthenticatorModel
@{
	ViewData["Title"] = "Reset authenticator key";
	ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
	<p>
		<svg class="danger-icon">
			<path d="M0 0h24v24H0z" fill="none" />
			<path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
		</svg>
		<strong>If you reset your authenticator key your authenticator app will not work until you reconfigure it.</strong>
	</p>
	<p>
		This process disables 2FA until you verify your authenticator app.
		If you do not complete your authenticator app configuration you may lose access to your account.
	</p>
</div>
<div>
	<form id="reset-authenticator-form" method="post" class="form-group">
		<button id="reset-authenticator-button" class="btn btn-danger" type="submit">Reset authenticator key</button>
	</form>
</div>