﻿@page
@model TwoFactorAuthenticationModel
@{
	ViewData["Title"] = "Two-factor authentication (2FA)";
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
	if (Model.RecoveryCodesLeft == 0)
	{
		<div class="alert alert-danger">
			<svg class="danger-icon">
				<path d="M0 0h24v24H0z" fill="none" />
				<path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
			</svg>
			<strong>You have no recovery codes left.</strong>
			<p>You must <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
		</div>
	}
	else if (Model.RecoveryCodesLeft == 1)
	{
		<div class="alert alert-danger">
			<strong>You have 1 recovery code left.</strong>
			<p>You can <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
		</div>
	}
	else if (Model.RecoveryCodesLeft <= 3)
	{
		<div class="alert alert-warning">
			<strong>You have @Model.RecoveryCodesLeft recovery codes left.</strong>
			<p>You should <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
		</div>
	}

	if (Model.IsMachineRemembered)
	{
		<form method="post" style="display: inline-block">
			<button type="submit" class="btn btn-default">Forget this browser</button>
		</form>
	}
	<a asp-page="./Disable2fa" class="btn btn-default">Disable 2FA</a>
	<a asp-page="./GenerateRecoveryCodes" class="btn btn-default">Reset recovery codes</a>
}

<h5>Authenticator app</h5>
@if (!Model.HasAuthenticator)
{
	<a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Add authenticator app</a>
}
else
{
	<a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Setup authenticator app</a>
	<a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-default">Reset authenticator app</a>
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
