﻿@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Sorry";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Something has gone wrong, you're not supposed to be here.</br> If you need help, please <a asp-area="home" asp-action="Contact">contact us</a>.</p>

	<a class="my-button btn">Return to FruitStream</a>
	<img alt="Error. User not  allowed into the page" class="img-responsive" src="~/images/gate.svg" />
</header>
