﻿@page
@model ForgotPasswordConfirmation
@{
	ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
	Please check your email to reset your password.
	Just kidding, this does nothing.
</p>

