﻿@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <h4>You have successfully logged out of Fruitbook. </br>Come back soon for more fruity fun!</h4>
</header>