﻿@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}

<h2 class="left-gap">@ViewData["Title"]</h2>

<div class="row ">
	<div class="col-md-4 left-gap">
		<form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
			<h4>Begin yor Fruit-based adventure here!</h4>
			<hr />
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Input.Name"></label>
				<input asp-for="Input.Name" class="form-control" />
				<span asp-validation-for="Input.Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.Email"></label>
				<input asp-for="Input.Email" class="form-control" />
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.Password"></label>
				<input asp-for="Input.Password" class="form-control" />
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.ConfirmPassword"></label>
				<input asp-for="Input.ConfirmPassword" class="form-control" />
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Input.FavouriteFruit"></label>
				<select asp-for="Input.FavouriteFruit" class="form-control" asp-items="Html.GetEnumSelectList<Fruit>()">
					<option selected="selected" value=""></option>
				</select>
			</div>
			<div class="form-group">
				<label asp-for="Input.AvatarImage"></label>
				<input type="file" asp-for="Input.AvatarImage" onchange="uploadCheck()" accept="image/*" />
				<span asp-validation-for="Input.AvatarImage" class="text-danger"></span>
			</div>

			@{ //If an admin registers a new user, they can chose privilages to give them
				try
				{
					string claimvalue = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("IsAdmin").Value;

					if (claimvalue == "true")
					{
						<div class="form-group">
							<label asp-for="Input.Claim"></label>
							<select asp-for="Input.Claim" asp-items="Html.GetEnumSelectList<ClaimEnum>()" class="form-control">
								<option selected="selected" value="Commenter"></option>
							</select>
						</div>
					}
				}
				catch (NullReferenceException e)
				{
				}
			}
			<button type="submit" class="btn btn-default">Register</button>
		</form>
	</div>
</div>
<script type="text/javascript">
	//This makes sure the uploaded file has an appropriate extension
	function uploadCheck() {
		var image = document.getElementById("Input_AvatarImage").value;
		var ext = getExtension(image);

		var extensionLists = ['jpg', 'jpeg', 'svg', 'gif', 'bmp', 'png', 'JPG', 'JPEG', 'SVG', 'GIF', 'BMP', 'PNG'];

		var contains = (extensionLists.indexOf(ext) > -1);

		if (!contains) {
			alert("Sorry, only images of types: " + extensionLists.toString() + " are allowed");
			document.getElementById("Input_AvatarImage").value = "";
		}
	}

	//This gets the extension from a file name
	function getExtension(filename) {
		var parts = filename.split('.');
		return parts[parts.length - 1];
	}
</script>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
