﻿/*Used on multiple pages*/
body {
	padding-top: 50px;
	padding-bottom: 20px;
	background: #f5f5f5;
}

div * {
	word-break: break-word;
}

.absolute-center {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
	text-align: right;
}

.dont-wrap {
	white-space: nowrap;
	overflow: hidden;
}

.full-width {
	width: 100%;
}

.clear-both {
	clear: both;
}

.svg-background {
	fill: #c4caeb;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	max-height: calc(100% - 151px);
	margin-top: 55px;
	z-index: -2;
}

.pull-right a {
	margin: 0 20px 0 20px;
}

/*_Layout*/
.banner-image {
	background-image: url(../images/fruitbanner.svg);
	background-repeat: no-repeat;
	min-height: calc(100vh - 151px);
}

.my-nav {
	background-color: #3F51B5;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#logo {
	height: 40px;
	padding-top: 10px;
	fill: white;
}

#logoHolder :hover {
	fill: #bdbdbd;
}

.my-hamburger:hover svg {
	fill: #1A234C !important
}

.my-hamburger {
	float: left;
	margin: 10px;
	padding: 0;
}

.hamburger-svg {
	width: 30px;
	height: 30px;
	fill: white;
}

.my-container {
	min-height: calc(100vh - 151px);
	position: relative;
}

.gone {
	display: none;
}

/*_LoginPartial*/
.other-hover {
	color: white;
	height: 50px;
	line-height: 50px;
	padding: 16px;
}

.other-hover:hover {
	background: #eee;
	height: 100%;
	min-width: 50px;
	text-decoration: none;
}

.other-hover div {
	height: 50px;
	width: 50px;
	overflow: hidden;
	float: left;
	background-size: cover !important;
}

/*Cookies*/
#cookieConsent {
	position: fixed;
	bottom: 0;
	top: calc(100vh - 50px);
	background: #3F51B5;
	color: white !important;
	box-shadow: 0 -10px 20px rgba(0,0,0,0.19), 0 -6px 6px rgba(0,0,0,0.23);
}

#cookieConsent .danger-icon {
	line-height: 50px;
}

.cookie {
	line-height: 50px;
}

.cookie-nav-bar {
	position: relative;
	height: 50px;
	width: 50px;
	padding: 12.5px;
}

/*Buttons / links*/
.button-colours a:hover {
	color: #3F51B5;
}

.nav-button {
	margin: 0px;
	padding: 0px;
	line-height: 50px;
	height: 50px;
	color: white;
	padding: 0px 16px 0px 16px;
}

.nav-button:hover {
	text-decoration: none;
	background: white !important;
	color: #3F51B5;
}

.my-button {
	background: #3F51B5;
	color: white;
}

.my-button:hover {
	background-color: #eee;
	color: #3F51B5;
}

.nav a {
	color: white;
}

.my-danger {
	margin-top: 20px;
}

.clickable {
	cursor: pointer;
	color: #337ab7;
}

.clickable:hover {
	text-decoration: underline;
}

.cursor-pointer {
	cursor: pointer;
}

.create-button {
	margin-bottom: 20px;
}

a .plus {
	display: inline-block;
	vertical-align: middle;
	height: 16px;
	margin-top: -3px;
	line-height: 100%;
	fill: #3F51B5;
}

.back-link {
	float: left;
	height: 36px;
}

/*DeletePersonalData*/
.danger-icon {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	fill: #cc3333;
}

/*Login & Register*/
.left-gap {
	margin-left: 10vw;
}

/*Posts/Index & Posts/Details*/

.whole-post {
	border-radius: 14px;
	background: white;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	transition: box-shadow 500ms;
}

.whole-post:hover {
	cursor: pointer;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.post {
	color: #4C4C4C;
	text-decoration: none;
}

.post:hover {
	color: #4C4C4C;
	text-decoration: none;
}

.gap {
	height: 32px;
}

.stream_top {
	width: 88px;
	height: 88px;
}

.stream_top div {
	float: left;
}

.stream_top h4,
.stream_top h6 {
	padding-left: 16px;
	padding-top: 8px;
	margin: 0;
}

.stream_avatar {
	height: 88px;
	width: 88px;
	overflow: hidden;
	position: relative;
}

.stream_avatar div {
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: 50% 50% !important;
	background-size: cover !important;
}

.post-avatar {
	width: 88px;
}

.post-text {
	padding-left: 48px;
	margin-left: 24px;
	color: white;
	margin: 0;
	line-height: 36px;
}

.comments {
	margin-top: 32px;
}

.others_comments {
	height: auto;
	width: 100%;
	display: table;
	border-collapse: separate;
	border-spacing: 0;
	padding: 8px;
	border-top: 1px solid #9aabb9;
}

.others_comments h4 {
	margin: 0;
}

.others_comments div {
	float: left;
	margin-right: 4px;
	display: table-row;
}

.comment_avatar {
	width: 56px;
	height: 56px;
	position: relative;
}

.comment_avatar div {
	position: absolute;
	top: 0;
	width: 56px;
	height: 56px;
	background-position: 50% 50% !important;
	background-size: cover !important;
}

.comment-time {
	padding-left: 8px;
	padding-top: 5px;
	margin: 0;
	line-height: 100%;
	color: #bdbdbd;
}

.comment-text {
	padding: 8px;
}

.comment-content {
	padding-left: 8px;
}

.add-comment {
	width: 100%;
}

.add-comment div {
	padding-left: 0;
}

.add-comment input {
	float: left;
}

.light-grey {
	color: #a6a6a6;
}

.my-shadow {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.empty-table {
	width: 100% !important;
	max-width: 100%;
}

.back-icon {
	height: 36px;
	fill: white;
	padding: 10px;
}

.details-bar {
	background: #3F51B5;
	height: 36px;
}

/*NotLoggedIn*/
.not-top {
	margin-top: 20vh;
}

/*Posts/Delete*/
.center-box {
	text-align: right;
}

.delete-box {
	background: white;
	border-radius: 2px;
	padding: 8px;
	margin: 8px;
	display: block;
}

.delete-box td:first-child {
	width: 33%;
}

.delete-img {
	padding: 10px;
}

.delete-h3 {
	margin-top: 32px;
}

/*Identity/Index*/
.small-tr {
	width: 50px;
}

.identity-pic {
	background-size: cover !important;
	width: 40px;
	height: 40px;
}

/*404*/
.svg-float {
	height: 80px;
	width: 80px;
	position: absolute;
}

#svg1 {
	animation-delay: 1s;
	animation: move1 6s infinite ease-in;
}

#svg2 {
	animation-delay: 2s;
	animation: move2 5s infinite ease-in;
}

#svg3 {
	animation-delay: 3s;
	animation: move3 7s infinite ease-in;
}

@keyframes move1 {
	0% {
		top: 50%;
		left: 0%;
	}

	33% {
		top: 0%;
		left: 33%
	}

	66% {
		top: 100%;
		left: 66%;
	}

	100% {
		top: 70%;
		left: 100%;
	}
}

@keyframes move2 {
	from {
		top: 90%;
		left: -30%;
	}

	to {
		top: 20%;
		left: 130%;
	}
}

@keyframes move3 {
	from {
		top: 25%;
		left: -30%;
	}

	to {
		top: 85%;
		left: 130%;
	}
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
	font-size: 20px;
	line-height: 1.4;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
	/* Hide captions */
	.carousel-caption {
		display: none;
	}
}
