﻿@{
	ViewData["Title"] = "Contact";
}
<h1 class="text-center">@ViewData["Message"]</h1>

<p>So, you want to contact us? </br> Well, here at Fruitbook we are more than happy with that. 
	Feel free to drop us an email any time, and we'll happily get back to you soon!</p>
<address>
	<strong>Email Me!</strong>
	<a href="@ViewData["Email"]">@ViewData["Email"]</a><br />
</address>

<svg class="svg-background" x="0" y="0" viewBox="0 0 486.9 486.9" xml:space="preserve">
<path d="M194.8 148.9c-3.7-3.7-5.5-5.5-9.6-8.5-15.6-11.5-34.8-19.3-34.8-19.3l-14.6 46.3-8.5-24.3c15.4-21.4-1.8-22-4.1-22s-19.5.6-4.1 22l-8.5 24.3L96 121.1s-19.2 7.7-34.8 19.3c-4.1 3-5.9 4.8-9.6 8.5-8.7 8.7-5 58.8 0 77.3s19.7 44.7 19.7 44.7c3 6.7 4.8 13.8 5.6 21.1l18.8 184.2c.6 5.9 5.5 10.3 11.4 10.3h32.2c5.9 0 10.8-4.5 11.4-10.3L169.5 292c.7-7.3 2.6-14.4 5.6-21.1 0 0 14.7-26.3 19.7-44.7 5-18.5 8.7-68.6 0-77.3zM170.9 52c-3.7-10-10.6-17-19.4-19.6-8.5-2.5-18.3-3.8-26.6 1.9-.6-3.1-1.1-2.9-2.7-5.5 4.2-.5 8.3-2.3 11.4-5.4 4.8-4.8 6.6-11.8 4.9-18.3-.3-1-1.1-1.8-2.1-2.1-6.4-1.8-13.4.1-18.2 4.9-3 3-4.9 7-5.4 11.2-4.3-2.7-9.4-4.2-14.8-4.2-1.6 0-2.9 1.3-2.9 2.9 0 1.6 1.3 2.9 2.9 2.9 10 0 18.4 6.6 21.3 15.6-7.9-5-16.5-6.5-24.5-4.1-8.8 2.6-15.7 9.6-19.4 19.6-3.6 9.7-3.7 21.2-.4 32.3 3.3 11.1 9.8 20.7 18.1 26.8 8.6 6.3 18.2 8.4 27 5.7 1-.3 2-.7 2.9-1.1 1 .5 2.1.9 3.2 1.2 2.5.8 5.1 1.1 7.7 1.1 6.5 0 13.1-2.3 19.3-6.9 8.3-6.2 14.7-15.7 18.1-26.8 3.3-10.9 3.2-22.4-.4-32.1zM118.6 22.9" />



<g>
<path d="M409.1 148.7c-3.7-3.7-5.5-5.5-9.6-8.5-15.6-11.5-34.8-19.3-34.8-19.3l-14.6 46.3-8.5-24.3c15.4-21.4-1.8-22-4.1-22s-19.5.6-4.1 22l-8.5 24.3-14.6-46.3s-19.2 7.7-34.8 19.3c-4.1 3-5.9 4.8-9.6 8.5-8.7 8.7-5 58.8 0 77.3s19.7 44.7 19.7 44.7c3 6.7 4.8 13.8 5.6 21.1L310 476c.6 5.9 5.5 10.3 11.4 10.3h32.2c5.9 0 10.8-4.5 11.4-10.3l18.8-184.2c.7-7.3 2.6-14.4 5.6-21.1 0 0 14.7-26.3 19.7-44.7 5-18.5 8.7-68.6 0-77.3zM366.3 33.2l2.2-.5-1-2.1c-1.4-3-6.3-8.2-15-6.6-.6.1-1.2.3-1.8.5 3.4-5.6 10.5-9.9 15.6-11.2l3.5-.9-2.8-2.3c-.3-.2-6.9-5.6-15.2-4.7-6.8.8-11.9 3.7-15.3 8.6-2.5-1.5-5.6-2.6-9.5-3-7.8-.8-14.1 3.9-14.3 4.1l-3.1 2.4 3.8.9c5.7 1.4 13.4 6 15.7 11.7-.6-.2-1.3-.4-2-.5-11.1-2.1-13.2 4.7-13.3 5l-.5 1.9 1.9.5c5.1 1.2 7.5 3.3 8.7 4.9-7.4 1.6-12.4 4.9-15.4 10-4 6.7-4 15.9-4 25.6v.4c0 20.5 14.1 37.2 31.5 37.2h.8c17.4 0 31.5-16.7 31.5-37.2v-.4c0-6.1 0-12.1-1-17.3h.1l-.1-.2c-.6-3-1.5-5.7-2.9-8.1-2.7-4.7-7.1-7.8-13.5-9.5 2.7-3.1 8.3-7.5 15.4-9.2z" /></g>
</svg>
