﻿@model ErrorViewModel
@{
	ViewData["Title"] = "Page not found";
}

<h1 class="text-danger">Oh no, that's a @Model.ErrorCode error!</h1>
<h4 class="text-danger">An error occurred while processing your request.<br /> Quick, return to the homepage before the vegetables take over!</h4>
<a asp-controller="Posts" asp-action="Index" class="btn btn-danger">Return to Fruitstream</a>

<img alt="Error image showing vegetables" class="svg-background" src="~/images/404/404.svg" />

<img alt="Flying vegetables" class="svg-float" id="svg1" src="~/images/404/mushroom.svg" />
<img alt="Flying vegetables" class="svg-float" id="svg2" src="~/images/404/peas.svg" />
<img alt="Flying vegetables" class="svg-float" id="svg3" src="~/images/404/broc.svg" />