﻿
@{
	ViewData["Title"] = "Welcom to Fruitbook";
}
<div class="banner-image">
	<div class="pull-left not-top">
		<h1>Welcome to FruitBook!</h1>
		<h2>The Fruity social network</h2>
	</div>
	<div class="pull-right col-md-5 not-top">
		<a class="btn my-button btn-primary btn-lg btn-block" asp-area="Identity" asp-page="/Account/Register">Register</a>
		<a class="btn my-button btn-primary btn-lg btn-block" asp-area="Identity" asp-page="/Account/Login">Login</a>
	</div>
</div>