﻿
@{
	ViewData["Title"] = "View Users";
}

<h2>View all users of Fruitbook</h2>

<a class="btn btn-default float-right create-button" asp-area="Identity" asp-page="/Account/Register">
	<svg viewBox="0 0 512 512" class="plus">
		<path d="M464 304H304v160a48 48 0 0 1-48 48 48 48 0 0 1-48-48V304H48a48 48 0 0 1-48-48 48 48 0 0 1 48-48h160V48a48 48 0 0 1 48-48 48 48 0 0 1 48 48v160h160a48 48 0 0 1 48 48 48 48 0 0 1-48 48z" />
	</svg>Register a new user
</a>

<div class="table table-responsive">
	<table class="table  table-hover">
		<tbody>
			<tr>
				<th>
					<h3>
						Admins
					</h3>
				</th>
			</tr>


			@foreach (ApplicationUser u in Model.Admins)
			{
				<tr>
					<td>@u.Name</td>
					<td>@u.Email</td>
					<td>@u.FavouriteFruit</td>

					<td></td>

					<td>
						<button type="button" class="btn btn-warning btn-block" onclick='downgrade("@u.Id")'>Downgrade to poster</button>
					</td>

					<td>
						<button type="button" class="btn btn-danger" onclick='deleteConfirm("@u.Id")'>Delete user</button>
					</td>
				</tr>
			}
		</tbody>

		<tbody>
			<tr>
				<th>
					<h3>
						Posters
					</h3>
				</th>
			</tr>
			@foreach (ApplicationUser u in Model.Posters)
			{
				<tr>
					<td>@u.Name</td>
					<td>@u.Email</td>
					<td>@u.FavouriteFruit</td>
					<td>
						<button type="button" class="btn btn-warning btn-block" onclick='upgrade("@u.Id")'>Upgrade to admin</button>
					</td>
					<td>
						<button type="button" class="btn btn-warning btn-block" onclick='downgrade("@u.Id")'>Downgrade to user</button>
					</td>
					<td>
						<button type="button" class="btn btn-danger" onclick='deleteConfirm("@u.Id")'>Delete user</button>
					</td>
				</tr>
			}
		</tbody>

		<tbody>
			<tr>
				<th>
					<h3>
						Users
					</h3>
				</th>
			</tr>

			@foreach (ApplicationUser u in Model.Users)
			{
				<tr>
					<td>@u.Name</td>
					<td>@u.Email</td>
					<td>@u.FavouriteFruit</td>
					<td>
						<button type="button" class="btn btn-warning btn-block" onclick='upgrade("@u.Id")'>Upgrade to poster</button>
					</td>
					<td>
						<button type="button" class="btn btn-warning btn-block" onclick='downgrade("@u.Id")'>Downgrade to restricted</button>
					</td>
					<td>
						<button type="button" class="btn btn-danger" onclick='deleteConfirm("@u.Id")'>Delete user</button>
					</td>
				</tr>
			}
		</tbody>
		<tbody>
			<tr>
				<th>
					<h3>
						Restricted
					</h3>
				</th>
			</tr>

			@foreach (ApplicationUser u in Model.Restricteds)
			{
				<tr>
					<td>@u.Name</td>
					<td>@u.Email</td>
					<td>@u.FavouriteFruit</td>
					<td>
						<button type="button" class="btn btn-warning btn-block" onclick='upgrade("@u.Id")'>Upgrade to user</button>
					</td>
					<td></td>
					<td>
						<button type="button" class="btn btn-danger" onclick='deleteConfirm("@u.Id")'>Delete user</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<script type="text/javascript">
	//This confirms if the admin wants to delete a user
	function deleteConfirm(Id) {
		var r = confirm("Are you sure you want to delete this user? This can not be undone");
		if (r == true) {
			var url = '@Url.Action("DeleteUser", "Home")'+"/"+Id;
			window.location.href = url;
		}
	}

	//This confirms if the admin wants to downgrade a user
	function downgrade(Id) {
		var r = confirm("Are you sure you want to downgrade this user's privilages?");
		if (r == true) {
			var url = '@Url.Action("Downgrade", "Home")'+"/"+Id;
			window.location.href = url;
		}
	}

	//This confirms if the admin wants to upgrade a user
	function upgrade(Id) {
		var r = confirm("Are you sure you want to upgrade this user's privilages?");
		if (r == true) {
			var url = '@Url.Action("Upgrade", "Home")'+"/"+Id;
			window.location.href = url;
		}
	}
</script>
